.frosh-list-item {
  border-radius: 5px;
  min-height: 30vh;
  padding: 10px;
  /* incase smth is really weird with the display */
  /* padding-bottom: 80px; */
  margin-bottom: 3vh;
}

.frosh-info {
  background-color: rgba(0, 0, 0, 0.502);
  color: white;
  text-align: center;
  padding: 5px;
}

.frosh-list-image {
  border-radius: 5px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.23);
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: end;
  transition: all;
  transition-duration: 500ms;
  margin: 0px;
  cursor: pointer;
}

.frosh-list-image:hover {
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.8);
  margin: 10px;
}

.offcanvasfrosh .frosh-list-image {
  padding-top: 80%;
}

.offcanvasfrosh .frosh-list-image {
  margin-bottom: 20px;
}

.offcanvasfrosh .frosh-list-image:hover {
  margin-bottom: 20px;
}

.rankingListFrosh .frosh-list-image:hover {
  margin: 0px;
}
