.icon-name-card {
  flex-direction: row;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.frosh-simple-info {
  flex-direction: column;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
